h1,
h2 {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}

p,
a,
li {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
}

h1 {
  color: #739551;
  font-size: 40px;
}

h2 {
  background-color: #b3e581;
  text-align: center;
  width: 250px;
  font-size: 25px;
}

.book {
  height: auto;
  width: 700px;
}

.recipe-img {
  height: auto;
  width: 500px;
}
